
form > div  {
  height: 100px;
}

h2, label, input, select, button, a {
  display: block;
  margin-left: 20px;
  margin-top: 10px;
}

h2 {
  margin-bottom: 30px;
}

p {
  color: #f00;
  margin-left: 20px;
  position: absolute;
}

a {
  cursor: pointer;
}
