<div id="main_div">
  <h2><u>Why You Should Shop On Our Site</u></h2>
  <h3>In A World Full Of Poisonous Food...</h3>
  <img src="./assets/icons/panel logo.png" />
  <h3>We Are The Most Poisonous Of All!</h3>
  <h4>All of our food & fresh produce is:</h4>
  <div id="li_div">
    <ul>
      <li>Processed.</li>
      <li>Sprayed with loads of pestisides.</li>
      <li>Extremely low in nutritional value.</li>
      <li>Dipped in wax to make them shine just for you. </li>
      <li>Full of chemicals that will kill you but taste great.</li>
      <li>Picked unripe and soaked in chemicals to ripen faster.</li>
    </ul>
  </div>
  <p><strong>Also if you subscribe* we will send you tons and tons of spam mail!</strong></p>
  <h6>*spam mail will be sent regardless of subscription.</h6>
</div>
